<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <title>
        {% block titles %} {% endblock titles %} -Steam Scraper
    </title>
</head>
<body>
{% block contents %}

{% endblock contents %}

</body>
</html>