{% extends "base.html" %}

{% block titles %}
Scraper
{% endblock %}


{% block contents %}
{% include "partials/navbar.html" %}
<div class="container is-fluid">
    <form action="" method="POST">
        <div class="field">
        <label class="label">Game Keywords</label>
          <div class="control">
            <input name="keywords" class="input" type="text" placeholder="Enter A Keyword: ">
              <br>
              <br>
              <button type="submit" class="button is-success">Generate Data</button>
          </div>
    </form>
  <p class="help">Ex: Among Us to Scraping Among Us Results</p>
</div>

</div>
{% endblock contents %}